{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-toggle="tooltip" title="Password must be 8 or more symbols and include numbers, lowercase and uppercase characters">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </span>
        </div>
        <div class="mb-3">
            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-toggle="tooltip" title="Password must be 8 or more symbols and include numbers, lowercase and uppercase characters">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
            </span>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}